<ion-content class="login-signup-content center-content">
  <form class="login-form">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Forgot Password</ion-card-title>
      </ion-card-header>
      <ion-card-content>
                  <form>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="email">
                      </div>
                      <button type="button" class="btn btn-info" (click)="forgotPassword()">Send Link</button>
                      <div style="text-align: center; margin-top: 20px;">
                        <p><a href="/login" routerLink="/login">Back to <ion-text color="danger">Login</ion-text></a></p>
                      </div>
                  </form>
                </ion-card-content>
              </ion-card>
            </form>
          </ion-content>