<ion-content class="login-signup-content center-content">
    <form class="login-form">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login or Signup</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="email">
          </ion-item>
          
          <ion-item>
            <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password">
          </ion-item>
  
          <button type="button" class="btn btn-info" (click)="register()">Register</button>
  
          <div style="text-align: center; margin-top: 20px;">
            <p>Already have an account? <a href="/login" style="text-decoration: none;"><span style="color: var(--ion-color-dark);">Login</span></a></p>
          </div>
        </ion-card-content>
      </ion-card>
    </form>
  </ion-content>
  