<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank">
          <img src="../../../assets/icon/fb.png" alt="Facebook">
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <img src="../../../assets/icon/li.png" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <img src="../../../assets/icon/insta.png" alt="Instagram">
        </a>
        <a href="https://www.youtube.com" target="_blank">
          <img src="../../../assets/icon/you.png" alt="YouTube">
        </a>
      </div>
      <div class="payment-icons">
        <img src="../../../assets/icon/fb.png" alt="G Pay">
        <img src="../../../assets/icon/card.png" alt="MasterCard">
        <img src="../../../assets/icon/paytm.png" alt="Paytm">
        <img src="../../../assets/icon/phone.png" alt="PhonePe">
        <img src="../../../assets/icon/visa.png" alt="Visa">
      </div>
      <p>© Copyright Fashion 2021. All Rights Reserved. Crafted by GAURAV RAJPUROHIT.</p>
    </div>
  </ion-toolbar>
</ion-footer>
