<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="center-text-container">
    <h1>ABOUT US</h1>
  </div>
<div>
  <img src="../../../assets/icon/aboutus.jpg">
  <p>The fact that you are here shows that you are curious to know about “JENIX” believe that I am the right person to tell you.<br>

    The obvious question is What is “JENIX”? But an even more important question is why does “JENIX” exist? Why did we start this company?<br>
    
    To answer that we will have to go back in 2014, After Completion of Engineering Graduation in 2006 from Govt Engineering College , Ajmer and service in field of Electrical for almost 8 years across the globe in different countries , Idea of Business launch in mind to serve my Country with available of my knowledge to provide low cost product where big brand were set very high limit so it could not reach to everyone.<br>
    
    Just quit my well paid handsome salary job in 2014 decided to start assembly of electronics goods (CCTV Camera , PABX, various Kind of Sensor etc.)  in capital of Rajasthan, Faced lot of challenges no skill labour, no supporting material, no supply chain to sustain and even not convincing to relative that sudden from well paid smooth life of 8AM to 5PM Job  to sudden change.<br>
    
    But took challenge and in beginning one person working as sales manager, assembly person ,Packing man Electrician etc. Gradually started to finding people start training to them to work for soldering, assembly ,Testing , Packaging and Delivery to nearby courier company .<br>
    
    It took almost 3 years to streamline the production and sudden old people start moving some due to their personal issue some due to extra learning and some thought to start their own business ... again i was back to zero where need to train people to run the show .<br>
    
    Finally i found that to sustain business where high technicality involve i have to remain in roll of teacher and have to teach every day and just changed mind set and start hiring people those are really willing to learn and start them teaching and prepare them to start as skilled person .<br>
    
    Another challenge was to sell goods, since motive was clear since beginning that keep selling price affordable buyer will find out and gradually mouth publicity work, people started to join us to get our goods and with excellent feedback after use of 2-3 years forced them to buy again.<br>
    
    Now we have team and look forward in society what and when can be given  at low cost so that mass public can afford those things can use them and become part of their life.<br>
    
    With more planning we decided to sell electronic hardware parts so that enthusiastic new generation can come up with new ideas to serve society and at least start assembly work.<br>
    
    We start selling hardware raw material on concept of “ Do It Your Self “where a person can assemble and make goods to sell further to end user. We are providing complete know how so that what challenge i faced new generation should avoid.<br>
    
    Now we have large range of ready to use electronic hardware kits along with finished goods where any person can make any type of electronics product starting from Robot to Drone using IOT.<br>
    
     Our Journey still going on ....</p>
</div>
  <div class="subscription-box">
    <h1>Direct buy From security system manufacturer, importer in India</h1>
    <p>Lowest price with best quality</p>
    <p>Get customised security system electronic products on demand</p>
    <div class="email-subscription">
      <input type="email" placeholder="example@gmail.com" />
      <button ion-button>SUBSCRIBE</button>
    </div>
  </div>
  <ion-item-group class="centered-group">
    <ion-item-divider>
      <ion-label>Categories</ion-label>
    </ion-item-divider>
    <!-- <ion-item button (click)="openCategory('Surveillance')">Surveillance</ion-item> -->
    <ion-item button>Surveillance</ion-item>
    <ion-item button>Access Control ( Lock )</ion-item>
    <ion-item button>Access Control ( Lock )</ion-item>
    <ion-item button>Intercom PABX</ion-item>
    <ion-item button>Smart Home Automation</ion-item>
    <ion-item button>WiFi Camera - Stand Alone System</ion-item>
    <ion-item button>GPS Tracker</ion-item>
    <ion-item button>4G Router</ion-item>
    <ion-item button>Networking and Peripheral</ion-item>
    <ion-item button>Security Alarm System</ion-item>
    <ion-item button>Cable Convertor Connector</ion-item>
    <ion-item button>Signal Booster</ion-item>
    <ion-item button>Show More</ion-item>
    <ion-item button>Show All Categories</ion-item>
    <ion-item-divider>
      <ion-label>Company</ion-label>
    </ion-item-divider>
    <ion-item button>About Us</ion-item>
    <ion-item button>Contact Us</ion-item>
    <ion-item button>Privacy Policy</ion-item>
    <ion-item button>Terms and Conditions</ion-item>
    <ion-item button>Refund Policy</ion-item>
    <ion-item button>Shipping Policy</ion-item>
    <ion-item-divider>
      <ion-label>Contact</ion-label>
    </ion-item-divider>
    <ion-item button>7240226566</ion-item>
    <ion-item button>jenixjain</ion-item>
    <ion-item button
      >Jain enterprises, 63/79 Heera Path, Mansarovar, jaipur, rajasthan, India
      - 302020</ion-item
    >
    <ion-item button>Warranty and RMA</ion-item>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="social-icons">
        <a href="https://www.facebook.com/jenix.in" target="_blank">
          <img src="../../assets/icon/fb.png" alt="Facebook" />
        </a>
        <a href="https://jenixindia.com/" target="_blank">
          <img src="../../assets/icon/li.png" alt="LinkedIn" />
        </a>
        <a href="https://jenixindia.com/" target="_blank">
          <img src="../../assets/icon/insta.png" alt="Instagram" />
        </a>
        <a href="https://www.youtube.com/channel/UCXI20ZxK5FrZf58buCsCdlQ" target="_blank">
          <img src="../../assets/icon/you.png" alt="YouTube" />
        </a>
      </div>
      <div class="payment-icons">
        <img src="../../assets/icon/g pay.png" alt="G Pay" />
        <img src="../../assets/icon/card.png" alt="MASTER CARD" />
        <img src="../../assets/icon/paytm.png" alt="Paytm" />
        <img src="../../assets/icon/phone.png" alt="PhonePe" />
        <img src="../../assets/icon/visa.png" alt="VISA" />
      </div>
      <p>
        © Copyright Fashion 2021. All Rights Reserved. Crafted by GAURAV
        RAJPUROHIT.
      </p>
    </div>
  </ion-toolbar>
</ion-footer>
