<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JACKIE</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container
  [modules]="swiperModules"
  [slidesPerView]="1"
  [centeredSlides]="true"
  [autoPlay]="{delay: 500, enabled:true}"
>
  <swiper-slide>
    <img src="../../../assets/icon/1.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/2.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../../assets/icon/3.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/4.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/5.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/6.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/7.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/8.png" />
  </swiper-slide>
</swiper-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="social-icons">
        <a href="https://www.facebook.com/jenix.in" target="_blank">
          <img src="../../assets/icon/fb.png" alt="Facebook" />
        </a>
        <a href="https://jenixindia.com/" target="_blank">
          <img src="../../assets/icon/li.png" alt="LinkedIn" />
        </a>
        <a href="https://jenixindia.com/" target="_blank">
          <img src="../../assets/icon/insta.png" alt="Instagram" />
        </a>
        <a href="https://www.youtube.com/channel/UCXI20ZxK5FrZf58buCsCdlQ" target="_blank">
          <img src="../../assets/icon/you.png" alt="YouTube" />
        </a>
      </div>
      <div class="payment-icons">
        <img src="../../assets/icon/g pay.png" alt="G Pay" />
        <img src="../../assets/icon/card.png" alt="MASTER CARD" />
        <img src="../../assets/icon/paytm.png" alt="Paytm" />
        <img src="../../assets/icon/phone.png" alt="PhonePe" />
        <img src="../../assets/icon/visa.png" alt="VISA" />
      </div>
      <p>
        © Copyright Fashion 2021. All Rights Reserved. Crafted by GAURAV
        RAJPUROHIT.
      </p>
    </div>
  </ion-toolbar>
</ion-footer>
