<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JACKIE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container
  [modules]="swiperModules"
  [slidesPerView]="1"
  [centeredSlides]="true"
  [autoPlay]="{delay: 500, enabled:true}"
>
  <swiper-slide>
    <img src="../../../assets/icon/1.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/2.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../../assets/icon/3.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/4.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/5.png" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/6.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/7.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/icon/8.png" />
  </swiper-slide>
</swiper-container>
</ion-content>
